@import "./color-variables";

$colors: ('moonstone-blue', $moonstone-blue),
  ('golden-gate', $golden-gate),
  ('platinum', $platinum),
  ('space-cadet', $space-cadet),
  ('charcoal', $charcoal);

@each $colorName, $color in $colors {
  .#{$colorName} {
    color: $color;
  }
  .bg-#{$colorName} {
    background-color: $color;
  }
  .bg-over-#{$colorName} {
    background-color: transparentize($color, 0.5);
  }
  .border-#{$colorName} {
    border-color: $color;
  }
  // --- Darker ---
  $darker: darken($color, 10%);
  .#{$colorName}-dark {
    color: $darker;
  }
  .bg-#{$colorName}-dark {
    background-color: $darker;
  }
  .border-#{$colorName}-dark {
    border-color: $darker;
  }
  // --- Lighter ---
  $lighter: lighten($color, 10%);
  .#{$colorName}-light {
    color: $lighter;
  }
  .bg-#{$colorName}-light {
    background-color: $lighter;
  }
  .border-#{$colorName}-light {
    border-color: $lighter;
  }
}