form, .form {

  input,
  input + label,
  label {
    position: relative;
  }

  label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  input {
    margin-bottom: 1rem;
  }

  .row {
    label, input, .label, .input, .select {
      margin-bottom: 0;
    }
  }

  input:not([type=checkbox]):not([type=button]), select {
    &:focus {
      outline: none;
      border-color: $moonstone-blue;
    }
  }

  label.required:after {
    content: "\f005";
    position: absolute;
    top: -.2rem;
    left: -.5rem;
    color: $golden-gate;
    font-family: "FontAwesome";
    font-size: 0.5rem;
  }

  input[required]:invalid,
  label.required + input:invalid {
    border-color: $golden-gate;
  }

  .checkbox.toggle {
    display: block;
    line-height: 26px;
    width: 80px;
    height: 26px;
    background: $platinum;
    margin: 0 0.5rem;
    position: relative;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);

    &:after {
      content: 'OFF';
      color: darken($moonstone-blue, 30%);
      position: absolute;
      right: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
    }

    &:before {
      content: 'ON';
      color: $moonstone-blue;
      position: absolute;
      left: 10px;
      z-index: 0;
      font: 12px/26px Arial, sans-serif;
      font-weight: bold;
    }

    label {
      display: block;
      width: 34px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 1;
      background: $platinum;
      border-radius: 5px;
      transition: all 0.4s ease;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    }

    input[type=checkbox] {
      visibility: hidden;

      &:checked + label {
        left: 43px;
      }
    }
  }

  .password-reveal:active {
    color: $moonstone-blue;
  }
}