table, .table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  thead, & .row.table-header {
    font-weight: bold;
    background-color: transparentize($platinum, 0.5);

    th, .col {
      text-align: center;
    }
  }

  tr, .row {
    display: table-row;
    border: 0;

    &.center .col {
      text-align: center;
    }

    th,
    td, .col {
      display: table-cell;
      float: none;
      border: 0;
      padding: 0.5rem;
      text-align: left;

      &.center {
        text-align: center;
      }
      &.right {
        text-align: right;
      }

      .btn.action {
        border: 1px solid $moonstone-blue;
        border-radius: 3px;
        color: $moonstone-blue;
        background-color: white;
        text-decoration: none;
        padding: 0.25rem 0.5rem;
        margin-right: 0.5rem;

        &:hover {
          background-color: transparentize($moonstone-blue, 0.8);
        }

        &.danger {
          border-color: $golden-gate;
          color: white;
          background-color: $golden-gate;
          &:hover {
            background-color: darken($golden-gate, 10%);
          }
        }

        & > i.fa {
          margin-right: 0.5rem;
          &.m0 {
            margin-right: 0;
          }
        }
      }
    }
  }

  &.hover {
    thead.sortable tr th:hover {
      background: transparentize($moonstone-blue, 0.8);
    }
    tbody tr:hover {
      background: transparentize($moonstone-blue, 0.8);
    }
  }

  &.bordered {
    td, th, .col {
      border: 1px solid transparentize($platinum, 0.4);
    }
    td:first-child, th:first-child, .col:first-child {
      border-left: 0;
    }
    td:last-child, th:last-child, .col:last-child {
      border-right: 0;
    }
    tr:last-child td, .row:last-child .col {
      border-bottom: 0;
    }
    tr:first-child th, .row:first-child .col {
      border-top: 0;
    }
  }
}