@charset "UTF-8";

@import "style";

body.auth {
  background: url('/public/img/login-bg.png') center no-repeat;

  #password-reveal {
    cursor: pointer;
  }

  #password-reveal:hover,
  #password-reveal:active {
    @extend .moonstone-blue;
  }

  #login-form {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 2rem;

    & > form {
      width: 500px;
    }

    input {
      background-color: rgba(255, 255, 255, 0.5);
      padding-left: 35px;

      &:focus {
        @extend .border-moonstone-blue;
        outline: none;
      }
    }
  }
}