@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

@import "helpers";
@import "colors";
@import "cursor";
@import "form";
@import "table";
@import "card";
@import "bottom-panel";
@import "loading";

.h0 {
  font-size: 5rem;
}