<a href="/admin" class="item white block">
    <i class="fa fa-home"></i>Dashboard
</a>
<a href="/admin/users" class="item white block">
    <i class="fa fa-group"></i>Users
</a>
<a href="/admin/projects" class="item white block">
    <i class="fa fa-suitcase"></i>Projects
</a>