<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/ace-css/css/ace.min.css">
    <link rel="stylesheet" href="https://unpkg.com/font-awesome/css/font-awesome.min.css">
    {% block assets %}
        {% addCss("public/css/style.css") %}
        {% addJs("https://unpkg.com/jquery") %}
    {% endblock %}
    {{ assets() }}
</head>
<body{% if body_class is defined %} class="{{ body_class }}"{% endif %}>
{% block content %}{% endblock %}
</body>
</html>