{% extends "@installer/layout.twig" %}

{% block content %}
    <section class="card m4 bg-moonstone-blue white">
        <h1>Welcome to Topazz installation</h1>
        <article class="card-body bg-white moonstone-blue-dark clearfix">
            <p>We will guide you through the process of the installation to get you at the end.</p>
        </article>
        <article class="card-body bg-white moonstone-blue-dark clearfix">
            <p>
                Are you ready to proceed? Then click on the button below.
            </p>
            <div class="clearfix flex justify-center">
                <a href="/install" class="btn btn-primary btn-big bg-moonstone-blue white">
                    <i class="fa fa-forward mr1"></i>Start installation
                </a>
            </div>
        </article>
    </section>
{% endblock %}
