{% extends "@installer/layout.twig" %}

{% block content %}
    <section class="card m4 bg-moonstone-blue border-moonstone-blue-dark white">
        <h1><i class="fa fa-trophy"></i>Installation successful</h1>
        <div class="clearfix card-body bg-white black border-moonstone-blue-dark">
            <div class="flex items-center">
                You can now continue to you new Topazz system by going to
                <a href="{{ admin_host ~ admin_uri }}" class="btn btn-outline moonstone-blue ml2">
                    <i class="fa fa-dashboard mr1"></i>Administration
                </a>
            </div>
        </div>
    </section>
{% endblock %}
