<header class="m0 p0 px2 flex justify-between">
    <img src="/public/img/topazz-logo.png" class="fit my2">
    <ul class="flex flex-row items-stretch justify-between m0 p0" id="navigation">
        <li class="block"><a href="/" class="black block p2 text-decoration-none">Home</a></li>
    </ul>
</header>